/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 24px;
    &__header {
        @include clearfix;
        margin-bottom: 12px; // font-family: $font-family-special;
        font-size: 0;
        .form-control {
            width: 140px;
            float: right;
            height: 30px;
        }
    }
    &__title {
        font-size: 16px;
        line-height: 1em;
        position: relative;
        color: $brand-primary;
        text-transform: uppercase;
        float: left;
        font-weight: bold;
        &:hover {
            color: $brand-success;
            &::after {
                background: $brand-success;
            }
        }
        a {
            color: $brand-primary;
            &:hover {
                color: $brand-success;
            }
        }
        .zone--featured & {
            color: white;
            &::after {
                background: white;
            }
            &:hover {
                color: $brand-primary;
                &:after {
                    background: $brand-primary;
                }
            }
        }
    }
    &__sub-title {
        font-size: 12px;
        line-height: 25px;
        &+.zone__sub-title {
            &::before {
                content: '/';
                padding-right: 8px;
                margin-left: 8px;
            }
            &:hover {
                &::before {
                    color: #000;
                }
            }
        }
        .zone--featured & {
            color: white;
            &:hover {
                color: $brand-primary;
                &::before {
                    color: #fff;
                }
            }
        }
    }
    &__content {
        @include clearfix();
        select.form-control {
            margin-bottom: 12px;
        }
    }
    &--grey {
        background: #F0F0F0;
        padding: 8px;
        margin-left: -8px;
        margin-right: -8px;
    }
    &--featured {
        background: #888;
        padding: 8px;
        .zone__header {
            margin-bottom: 8px;
        }
        .zone__title {
            a {
                color: white;
                &:hover {
                    color: #ddd;
                }
            }
        }
    }
    .sidebar-col &,
    &--aside {
        .zone__title {
            font-size: 16px;
            line-height: 30px;
        }
    }
    &--media {
        position: relative;
        .bx-pager {
            position: absolute;
            top: 21px;
            right: 8px;
            &-item {
                float: left;
                &+.bx-pager-item {
                    margin-left: 8px;
                }
                a {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    text-indent: -999em;
                    background: #444;
                    &.active {
                        background: white;
                    }
                }
            }
        }
        .story {
            &+.story {
                margin-top: 0;
            }
        }
    }
    .view-more {
        margin-top: 16px;
        text-align: center;
    } // affix zone with pinned header
    &--affix {
        .zone__header.affix,
        .zone__header.stuck {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            background: #f0f0f0;
            z-index: 10;
        }
    }
    &.suyngam {
        .zone__header {
            img {
                max-height: 60px;
                width: auto;
            }
        }
    }
    &.tieudiem {
        background: url(../img/tieudiem__bg.png) left top no-repeat #F0F0F0;
        background-size: 100%;
        .zone__title {
            float: none;
            img {
                height: 40px;
                width: auto;
            }
        }
        .zone__title--sub {
            font-size: 14px;
            line-height: 1.4;
            font-weight: bold;
            margin-top: 5px;
            a {
                color: $brand-primary;
            }
        }
        .zone__content {
            padding-left: 60px;
            min-height: 60px;
            background: url(../img/tieudiem__symbol.png) left 10px top no-repeat #F0F0F0;
            background-size: 30px 60px;
        }
    }
}

// ads
.qc {
    @include clearfix();
    margin-bottom: 24px;
    text-align: center;
}