/* style for story */

.story {
    @include clearfix;
    margin-bottom: 16px;
    &__thumb {
        margin-bottom: 7px;
        overflow: hidden;
        position: relative;
        text-align: center;
        img {
            @include transition(all, 0.2, linear);
            &::after {
                @include transition(all, 0.4, ease);
            }
        }
        a {
            &::after {
                @include transition(all, 0.4, ease);
                display: block;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: black;
                opacity: 0;
            }
        }
        &:hover {
            a {
                &::after {
                    opacity: 0.3;
                }
            }
            img {
                transform: scale(1.1);
            }
        }
    }
    &__title {
        font-size: 16px;
        line-height: 1.4em;
        font-weight: bold;
        +.story__summary {
            margin-top: 8px;
        }
        .sprite-comments {
            margin-left: 3px;
        }
    }
    &__summary {
        color: #777;
        margin-top: 8px;
    }
    &__meta {
        color: #999;
        margin-top: 8px;
        font-size: 12px;
    }
    &--highlight {
        .story__title {
            font-size: 18px;
            line-height: 2.5rem;
        }
    }
    &--featured {
        padding-bottom: 12px;
        border-bottom: 1px solid #ddd;
        .story__title {
            @include font-size(18, 25);
        }
    }
    &--bullet {
        @include last-child-y;
        .story__title {
            padding-left: 15px;
            position: relative;
            font-weight: normal;
            &::before {
                display: block;
                content: '';
                background: url(../img/bullet.png) left top no-repeat;
                width: 6px;
                height: 6px;
                position: absolute;
                top: 6px;
                left: 0;
            }
        }
    }
    &--horizontal {
        @include last-child-y;
        .story__thumb {
            float: left;
            margin: 0 10px 0 0;
        }
        +.story--bullet {
            padding-top: 10px;
            border-top: 1px solid #ddd;
        }
        .category__listing & {
            &~.story {}
            .story__thumb {}
        }
        .latest-listing & {
            +.story--bullet {
                padding-top: 0;
                border-top: none;
            }
        }
    }
    &--portrait {
        @include last-child-y;
        .story__thumb {
            // width: 80px;
            // height: 105px;
            float: left;
            margin: 0 10px 0 0;
        }
        &.story--featured {
            .story__thumb {
                // width: 140px;
                // height: 185px;
                float: left;
                margin: 0 10px 0 0;
            }
        }
        .category__listing & {
            .story__thumb {
                // width: 80px;
                // height: 105px;
            }
        }
    }
    &--border {
        padding-top: 16px;
        border-top: 1px solid #ddd;
    }
    &--rare {
        background: white;
        padding: 0 10px 10px !important;
        .story__thumb {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    &--video,
    &--photo {
        .story__thumb {
            position: relative;
            &::before {
                display: block;
                content: '';
                background: rgba(0, 0, 0, .5);
                width: 32px;
                height: 32px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
            &::after {
                display: block;
                content: '';
                width: 11px;
                height: 14px;
                background: url(../img/sprites.svg) 0px -48px no-repeat;
                z-index: 2;
                position: absolute;
                left: 10px;
                bottom: 10px;
            }
        }
    }
    &--photo {
        .story__thumb {
            &::after {
                width: 15px;
                height: 14px;
                left: 9px;
                bottom: 9px;
                background: url(../img/sprites.svg) 0px -24px no-repeat;
            }
        }
    }
    &--gif {
        .story__thumb {
            a {
                display: block;
                position: relative;
                overflow: hidden;
                padding-bottom: 55.6%;
            }
            img {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
            }
        }
    }
    .suyngam & {
        margin-bottom: 0;
        .story {
            &__thumb {
                float: right;
                margin-left: 10px;
                width: 33.33%;
            }
        }
    }
    .tieudiem & {
        .story {
            &__title {
                font-style: italic;
            }
        }
    }
}